@model Garage3.Models.Session

@{
    ViewData["Title"] = "Create session";
    TempData["MemberIdData"] = Context.Request.Query["MemberId"].ToList().FirstOrDefault();
    TempData["VehicleIdData"] = Context.Request.Query["VehicleId"].ToList().FirstOrDefault();
    TempData["TimeOfArrivalData"] = DateTime.Now;
    TempData.Keep();
}

<h2>Create</h2>

<h4>Vehicle</h4>
<h4>@Context.Request.Query["VehicleId"]</h4>
<h4>Member</h4>
<h4>@Context.Request.Query["MemberId"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
 @*           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" readonly class ="form-control" asp-value="@TempData["MemberIdData"]"/>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <input asp-for="VehicleId" readonly class="form-control" asp-value="@TempData["VehicleIdData"]" />
            </div>
            <div class="form-group">
                <label asp-for="TimeOfArrival" class="control-label"></label>
                <input asp-for="TimeOfArrival" readonly class="form-control" asp-value="@TempData["TimeOfArrivalData"]" />
            </div> *@
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
