@model IEnumerable<Garage3.Models.Member>

@{
    ViewData["Title"] = "Members";
    if (TempData.ContainsKey("PersonalNumber"))
    {
        ViewData["PersonalNumber"] = TempData["PersonalNumber"];
    }
    if (TempData.ContainsKey("deleted"))
    {
        ViewData["deleted"] = TempData["deleted"];
    }
}
<br />
<h2>Members</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div id="created" hidden="hidden" class="alert alert-success alert-dismissible fade show" role="alert">
    A membership account with the following Personal number:
    <strong>@ViewData["PersonalNumber"]</strong> has been created. <br />
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>
<div id="updated" hidden="hidden" class="alert alert-info alert-dismissible fade show" role="alert">
    A membership account with the following Personal number:
    <strong>@ViewData["PersonalNumber"]</strong> has been updated. <br />
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>
<div id="deleted" hidden="hidden" class="alert alert-warning alert-dismissible fade show" role="alert">
    A member with the following Personal number: <strong>@ViewData["PersonalNumber"]</strong> has been deleted.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>

@if (ViewData["ShowElement"] != null)
{
    <script>

        function showElement() {
            let created = document.querySelector("#created");
            let deleted = document.querySelector("#deleted");
            let updated = document.querySelector("#updated");
            let element = @ViewData["ShowElement"];

            if (element == created || element == deleted || element == updated) {
                element.removeAttribute("hidden");
            }
        }
        showElement();
    </script>
}

<table class="table" id="clickTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersNo)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Registered Vehicles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicles.Count)
                </td>
                <td>

                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    @* <a class="btn btn-primary" asp-controller="Members" asp-action="SelectVehicleForCheckIn" asp-route-id="@item.Id">Vehicles to check in</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Member Details</a> |
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

