@model IEnumerable<Garage3.Models.Member>

@{
    ViewData["Title"] = "Members";

    string memberAdded =string.Empty;
    string memberEdited = string.Empty;
    
    if (TempData.ContainsKey("MemberCreated"))
    {
        memberAdded= TempData["MemberCreated"].ToString();
  
    }
    if (TempData.ContainsKey("MemberUpdated"))
    {
        memberEdited = TempData["MemberEdited"].ToString();

    }
}

<br />
<h2>Members</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div id="personalNumberCreated"  class="alert alert-success alert-dismissible fade show" role="alert">
     A membership account with the following Personal number:
    <strong>@memberAdded</strong> has been created. <br /> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>
<div id="personalNumberUpdated" class="alert alert-info alert-dismissible fade show" role="alert">
     A membership account with the following Personal number:
    <strong>@memberEdited</strong> has been created. <br />
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>
<table class="table" id="clickTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersNo)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Registered Vehicles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicles.Count)
                </td>
                <td>

                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    @* <a class="btn btn-primary" asp-controller="Members" asp-action="SelectVehicleForCheckIn" asp-route-id="@item.Id">Vehicles to check in</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Member Details</a> |
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
               </td>
            </tr>
        }
    </tbody>
</table>
@if (memberAdded.Length > 10)
{
    <script>

        function showAddedMember() {
            element.removeAttribute("hidden");

        }

        let element = document.querySelector("#personalNumberCreated");
        let table = document.querySelector("#clickTable")
        table.addEventListener('click', showAddedMember)

        showAddedMember();
    </script>
}

else
{
    <script>
        document.querySelector("#personalNumberCreated").setAttribute("hidden", "hidden");
        
    </script>
}
@if (memberEdited.Length > 5)
{
    <script>

        function showUpdatedMember() {
            element.removeAttribute("hidden");

        }

        let element = document.querySelector("#personalNumberUpdated");
        let table = document.querySelector("#clickTable")
        table.addEventListener('click', showUpdatedMember)

        showUpdatedMember();
    </script>
}

else
{
    <script>
        document.querySelector("#personalNumberUpdated").setAttribute("hidden", "hidden");

    </script>
}

