@model IEnumerable<Garage3.Models.Member>

@{
    ViewData["Title"] = "Register new vehicle";
}

<h1>Select which member to register a vehicle for</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-controller="Vehicles" asp-action="Create" asp-route-MemberId="@item.Id">Register new vehicle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
