@model Garage3.Models.Vehicle

@{
    ViewData["Title"] = "Confirm Checkout";
}

<h1>Confirm Checkout</h1>

<h3>Are you sure you want to checkout this vehicle?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfWheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfWheels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.Id)
        </dd>

    </dl>

    <form asp-controller="Sessions" asp-action="Checkout" asp-route-id="@Model.Session.Id">
        <input type="hidden" asp-for="@Model.Session.Id" />
        <input type="submit" value="Confirm" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
