@model IEnumerable<Garage3.Models.VehicleViewModel>

@{
    ViewData["Title"] = "Parked Vehicle Overview";
}
<br />
<h2>Vehicle Overview</h2>

<h1>Parked Vehicle Overview</h1>

<form asp-controller="Vehicles" asp-action="Overview">
    <p>
        Search by Vehicle Type: <input type="text" name="VehicleTypeName" />
        <input type="submit" value="Search" />
    </p>
</form>

<form  asp-controller="Vehicles" asp-action="Overview">
    <p>
        Search by Registration Number: <input type="text" name="RegNo" />
        <input  type="submit" value="Search" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSpaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSpaces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipLevel)
            </td>
        </tr>
}
    </tbody>
</table>
