@model IEnumerable<Garage3.Models.Vehicle>

@{
    ViewData["Title"] = "Vehicle Overview";
}
<br />
<h2>Vehicle Overview</h2>

<form  asp-controller="Vehicles" asp-action="Overview">
    <p>
        Search by Vehicle Type: <input type="text" name="VehicleTypeName" />
        <input type="submit" value="Search" />
    </p>
</form>

<form  asp-controller="Vehicles" asp-action="Overview">
    <p>
        Search by Registration Number: <input type="text" name="RegNo" />
        <input  type="submit" value="Search" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfWheels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfWheels)
            </td>
            <td>
                   @* <a class="btn btn-primary"  asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
